<template>
<div class="strategy-card">
  <img
    alt=""
    class="img-strategy-card-image"
    src="https://static.overlay-tech.com/assets/6cdd4acd-cc93-4082-a834-c9d6baa65999.png"
  />
  <div class="card-content-container">
    <div class="card-content">
      <p class="h4-card-header">Open products</p>
      <p class="p-card-desc">
        We develop our products with permissive open source
        licenses. We aim to sustain ourselves by developing
        revenue-generating applications that you can
        contribute to.
      </p>
    </div>
    <div class="btn-card-cta">
      <p class="cta-label">Our products</p>
      <img
        alt=""
        src="https://static.overlay-tech.com/assets/350864bb-5d14-4ca6-80b9-0ee5dc187fa7.svg"
      />
    </div>
  </div>
</div>
  
</template>

<script>
export default {

}
</script>

<style scoped>

.strategy-card {
  background-color: var(--primary-1);
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 4px 10px 0 var(--transparent-black);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.img-strategy-card-image {
  margin-bottom: 56px;
}
.card-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.card-content {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.h4-card-header {
  width: 473px;
  color: var(--tailwind-grey);
  margin-bottom: 24px;
  font-family: var(--heading-4-desktop-family);
  font-size: var(--heading-4-desktop-size);
  font-weight: var(--heading-4-desktop-weight);
  line-height: var(--heading-4-desktop-line-height);
}
.p-card-desc {
  max-width: 473px;
  color: var(--text-1);
  letter-spacing: 0.24px;
  font-family: var(--subtitle-2-desktop-family);
  font-size: var(--subtitle-2-desktop-size);
  font-weight: var(--subtitle-2-desktop-weight);
  line-height: var(--subtitle-2-desktop-line-height);
}
.btn-card-cta {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta-label {
  color: var(--tailwind-grey);
  margin-right: 8px;
  font-family: var(--card-cta-text-desktop-family);
  font-size: var(--card-cta-text-desktop-size);
  font-weight: var(--card-cta-text-desktop-weight);
  line-height: var(--card-cta-text-desktop-line-height);
}
</style>