/* This is the project stylesheet */

:root {
  /* Colors */
  --accent-1: rgba(29, 78, 216, 1);
  --primary-1: rgba(255, 255, 255, 1);
  --tailwind-grey: rgba(71, 85, 105, 1);
  --text-1: rgba(148, 163, 184, 1);
  --transparent-black: rgba(24, 24, 24, 0.05);

  /* Typographies */
  /* card-cta-text-desktop */
  --card-cta-text-desktop-family: "Inter";
  --card-cta-text-desktop-size: 20px;
  --card-cta-text-desktop-weight: 600;
  --card-cta-text-desktop-line-height: 30px;

  /* heading-1-desktop */
  --heading-1-desktop-family: "Inter";
  --heading-1-desktop-size: 64px;
  --heading-1-desktop-weight: 700;
  --heading-1-desktop-line-height: 61px;

  /* heading-4-desktop */
  --heading-4-desktop-family: "Inter";
  --heading-4-desktop-size: 24px;
  --heading-4-desktop-weight: 600;
  --heading-4-desktop-line-height: 32px;

  /* subtitle-1-desktop */
  --subtitle-1-desktop-family: "Inter";
  --subtitle-1-desktop-size: 18px;
  --subtitle-1-desktop-weight: 500;
  --subtitle-1-desktop-line-height: 28px;

  /* subtitle-2-desktop */
  --subtitle-2-desktop-family: "Inter";
  --subtitle-2-desktop-size: 16px;
  --subtitle-2-desktop-weight: 500;
  --subtitle-2-desktop-line-height: 27px;
}